<nav class="bg-gradient-to-r from-blue-500 to-blue-700 shadow-lg h-[80px]">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex items-center">
        <!-- Logo o título del navbar -->
        <div class="flex items-center justify-center">
          <button [matMenuTriggerFor]="menu" mat-button>
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
            </svg>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <span
            class="font-bold text-white text-2xl transform hover:scale-110 transition-transform duration-300 cursor-pointer">
            <span class="text-gradient bg-gradient-to-r from-yellow-400 to-red-500 mt-5 rounded-3xl p-2">J.M.P.G</span>
          </span>
        </div>
        <!-- Otras opciones de navegación -->
        <div class="sm:-my-px sm:ml-6 sm:flex sm:space-x-4">
          <a
            class="inline-flex text-white items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 hover:text-gray-200 hover:border-gray-200 focus:outline-none focus:text-gray-200 focus:border-gray-200 transition duration-150 ease-in-out"
            href="#">Inicio</a>
          <a
            class="inline-flex text-white items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 hover:text-gray-200 hover:border-gray-200 focus:outline-none focus:text-gray-200 focus:border-gray-200 transition duration-150 ease-in-out"
            href="#">Acerca de</a>
          <!-- Agrega más opciones de navegación aquí -->
        </div>
      </div>
      <!-- Botón de inicio de sesión o menú desplegable -->
      <div class="hidden sm:ml-6 sm:flex sm:items-center">
        <button
          class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Iniciar sesión
        </button>
      </div>
    </div>
  </div>
</nav>
