<!--<label>Hello world in angular!!</label>-->

<!--<app-contador #myComponent/>-->
<!--<button (click)="myComponent.logValue('yeahBaby!!!')">usar evento del componente counter</button>-->
<!--<button (click)="manejarHijo()">manejar hijo desde la parte lógica</button>-->
<div style="display: flex; flex-direction: column;padding: 0 100px 100px;">
  <app-navbar/>
  <app-formularioreactivo/>
</div>
<!--<div class="example-container" style="margin-top: 25px">-->
<!--  <mat-form-field>-->
<!--    <mat-label>Enter your email</mat-label>-->
<!--  </mat-form-field>-->
<!--</div>-->

