<div style="display: flex; flex-direction: column;justify-content: center;align-items: center">
  <label style="margin: 5px">{{contador}}</label>
  <div style="display: flex">
    <button (click)="modifyCounter('incrementar')" color="primary" mat-raised-button style="margin: 2px">Aumentar
    </button>
    <button (click)="modifyCounter('decrementar')" color="primary" mat-raised-button style="margin: 2px">Disminuir
    </button>
    <button (click)="modifyCounter('resetear')" color="primary" mat-raised-button style="margin: 2px">Resetear</button>
    <div (click)="vewEvent($event)">Dame click aquí</div>
    <label [class.hide]="hide">Soy un label bien feo</label>
    <button (click)="hideText()" color="primary" mat-raised-button style="margin: 2px">Ocultar</button>
    <form>
      <input (input)="handleChangeInput($event)" [(ngModel)]="myInput" [ngModelOptions]="{standalone: true}"
             type="text"/>
      <input (input)="handleChangeInput($event)" [(ngModel)]="myInput" [disabled]="isDisabled"
             [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. Pizza"
             value="Sushi">
      <input (input)="viewValueNewInput()" [value]="newInput" type="text">
    </form>
    <button (click)="isDisabled=!isDisabled" color="primary" mat-raised-button style="margin: 2px">Deshabilitar</button>
    <input #myInputThird (input)="logValue(myInputThird.value)" type="text">
    <button (click)="logValue(myInputThird.value)">Log Value</button>

  </div>
  <div *ngIf="isShowDifCondicional; else elseBlock" style="display: flex;flex-direction: column;margin: 10px">
    <label>Este es el div que se visualizará condicionalmente </label>
  </div>
  <ng-template #elseBlock>
    <p>Elemento oculto</p>
  </ng-template>
  <button (click)="isShowDifCondicional=!isShowDifCondicional" color="primary" mat-raised-button style="margin: 2px">
    Ocultar
  </button>
  <ul>
    <li *ngFor="let el of itemsExample">{{el}}</li>
  </ul>
  <input (input)="handleColor($event)" [value]="color">
  <div [ngSwitch]="color">
    <p *ngSwitchCase="'red'">El color es rojo</p>
    <p *ngSwitchCase="'blue'">El color es azul</p>
    <p *ngSwitchCase="'green'">El color es verde</p>
    <p *ngSwitchDefault>Color no reconocido</p>
  </div>
  <!--  <form>-->
  <!--      <div>-->
  <!--        <label for="name">Nombre:</label>-->
  <!--        <input [(ngModel)]="formData.name" id="name" name="name" required type="text">-->
  <!--      </div>-->
  <!--      <div>-->
  <!--        <label for="email">Email:</label>-->
  <!--        <input [(ngModel)]="formData.email" id="email" name="email" required type="email">-->
  <!--      </div>-->

  <!--  </form>-->
  <form (ngSubmit)="submitForm()">
    <div style="display: flex; flex-direction: column">
      <div>
        <mat-form-field>
          <input #name="ngModel" [(ngModel)]="formData.name" id="name" matInput name="name" required type="text">
          <mat-label>Nombre:</mat-label>
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            El nombre es obligatorio!!
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div>
      <mat-form-field>
        <input #email="ngModel" [(ngModel)]="formData.email" id="email" matInput name="email" required type="email">
        <mat-label>Email:</mat-label>
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
          El email es obligatorio!!
        </mat-error>
      </mat-form-field>
    </div>
    <button [disabled]="email.invalid" type="submit">Enviar</button>

  </form>
</div>

